<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="quizStylesheet.css" href="../static/quizStylesheet.css"/>
</head>
<body>
<header>
    <div class="headerspace"></div>
    QUIZZARD!
    <div class="headerspace"></div>
</header>
<div class="side"></div>
<div class="main">
    <h1>Ange användarnamn och lösenord för att logga in:</h1>
    <div class="formdiv">
        <form action="/userlogin" method="POST">

            <p>Användarnamn:<input type="text" name="name"/></p>
            <p>Lösenord:<input type="password" name="password"/></p>
            <input type="submit" value="submit"/>
        </form>

    </div>
    <a href="/register">
        <button>Create new account</button>
    </a>
</div>
<div class="side" id="sideright"></div>

</body>
</html>