<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="quiz.css" href="../static/quiz.css" />
    <title>Title</title>
</head>
<body>
<header><div class="headerspace"></div>QUIZZARD!<div class="headerspace"></div></header>
<div class="side"></div>
<div class="main">
    <h1>Dags att spela QUIZZAAARD!!!!</h1>
    <p>Antal rätt svar: X</p>
    <p>Antal fel svar: Y</p>
    <h2>Fråga X</h2>
    <p>Frågan</p>
    <p>Alternativ 1</p><button href="/answer1">Välj</button>
    <p>Alternativ 2</p><button href="/answer2">Välj</button>
    <p>Alternativ 3</p><button href="/answer3">Välj</button>
    <p>Alternativ 4</p><button href="/answer4">Välj</button>
    <p>"rätt svar visas efter val är gjort"</p>
    <button href="/nextQuestion">Nästa fråga</button>
</div>
<div class="side" id="sideright"></div>
</body>
</html>