<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="quizStylesheet.css" href="../static/quizStylesheet.css"/>
    <title>Title</title>
</head>
<body>
<header>
    <div class="headerspace"></div>
    QUIZZARD!
    <div class="headerspace"></div>
</header>
<div class="side"></div>
<div class="main" th:with="question=${session.qq.nextQuestion}">
    <h1>Dags att spela QUIZZAAARD!!!!</h1>
    <p>Antal rätt svar: <span th:text="${session.qq.right}"></span></p>
    <p>Antal fel svar: <span th:text="${session.qq.wrong}"></span></p>
    <h2>Fråga <span th:text="${session.qq.currentQuestion}"></span></h2>
    <p th:text="${question.text}"></p>
    <form action="/guess/1" method="POST" th:classappend="${question.choice} == 1 ? (${question.result} == 1 ? correct : wrong)">
        <p>
            <input type="submit" value="Välj" th:if="${question.choice} == 0"/>
            <span th:text="${question.optionOne}"></span></p>
    </form>

    <form action="/guess/2" method="POST" th:classappend="${question.choice} == 2 ? (${question.result} == 1 ? correct : wrong)">
        <p>
            <input type="submit" value="Välj" th:if="${question.choice} == 0"/>
            <span th:text="${question.optionTwo}"></span></p>
    </form>

    <form action="/guess/3" method="POST" th:classappend="${question.choice} == 3 ? (${question.result} == 1 ? correct : wrong)">
        <p>
            <input type="submit" value="Välj" th:if="${question.choice} == 0"/>
            <span th:text="${question.optionThree}"></span></p>
    </form>

    <form action="/guess/4" method="POST" th:classappend="${question.choice} == 4 ? (${question.result} == 1 ? correct : wrong)">
        <!--: ${question.result} == 2 ? wrong-->
        <!--and ${question.choice} == 4-->
        <p>
            <input type="submit" value="Välj" th:if="${question.choice} == 0"/>
            <span th:text="${question.optionFour}"></span></p>
    </form>

    <!--<p>-->
        <!--<button>Välj</button>-->
        <!--<span th:text="${question.optionTwo}"></span></p>-->
    <!--<p>-->
        <!--<button>Välj</button>-->
        <!--<span th:text="${question.optionThree}"></span></p>-->
    <!--<p>-->
        <!--<button>Välj</button>-->
        <!--<span th:text="${question.optionFour}"></span></p>-->

    <p>"rätt svar visas efter val är gjort"</p>
    <a href="/nextquestion"><button>Nästa fråga</button></a>
</div>
<div class="side" id="sideright"></div>
</body>
</html>