<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<form action="/register" method="POST">
    <h1>Ange användarnamn och lösenord för att logga in:</h1>
    <p th:text="${errormsg}"></p>
    Användarnamn:<input type="text" name="name" />
    Lösenord:<input type ="text" name ="password" />
    Email:<input type="text" name="email" />
    <input type="submit" value="submit" />
</form>

</body>
</html>